<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <!-- Navigation Bar -->
    <script src="../scripts/navigation.js" type="application/javascript"></script>
    <form>
        <div>
            <label id="email_label" for="email_input">Email</label>
            <input id="email_input" type="email"/>
        </div>
        <div>
            <label id="password_label" for="password_input">Password</label>
            <input id="password_input" type="password"/>
        </div>
        <div>
            <label id="login_submit_label" for="login_submit">Login</label>
            <input id="login_submit" type="submit"/>
        </div>
        <div>
            <label id="login_reset_label" for="login_reset">Clear</label>
            <input id="login_reset" type="reset"/>
        </div>
    </form>
</body>
</html>