<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Feed</title>
</head>
<body>
    <!-- Navigation Bar -->
    <script src="../scripts/navigation.js" type="application/javascript"></script>
    <script>noAuthNavigationBar()</script>
    <h1 class="text-center ">Popular Surveys</h1>
    <div style="height: 2px" class="border-bottom border-primary mb-2"></div>
    <div id="survey_feed_popular_list">
        <div class="row ms-2 ms-2">
            <div class="card border-primary col pb-2" style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom">Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img  class="img-fluid rounded-4 " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <div class="justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                    <button style="width:85%; display: block; background: rgb(54,107,49); background: linear-gradient(90deg, rgba(54,107,49,1) 0%, rgba(161,237,146,1) 50%, rgba(54,107,49,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                        <h6 class="text-center mt-2">Start</h6>
                    </button>
                    <button style="width:85%; display: block; background: rgb(0,87,61); background: linear-gradient(90deg, rgba(0,87,61,1) 0%, rgba(29,240,253,1) 50%, rgba(0,87,61,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                        <h6 class="text-center mt-2">Edit</h6>
                    </button>
                    <button style="width:85%; display: block; background: rgb(87,0,0); background: linear-gradient(90deg, rgba(87,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(87,0,0,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                        <h6 class="text-center mt-2">Delete</h6>
                    </button>
                    </div>
                </div>
            </div>
            <div class="card border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom">Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img  class="img-fluid rounded-4 " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                      alt="pizza"
                >
                <div class="justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width:85%; display: block; background: rgb(54,107,49); background: linear-gradient(90deg, rgba(54,107,49,1) 0%, rgba(161,237,146,1) 50%, rgba(54,107,49,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                        <button style="width:85%; display: block; background: rgb(0,87,61); background: linear-gradient(90deg, rgba(0,87,61,1) 0%, rgba(29,240,253,1) 50%, rgba(0,87,61,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                            <h6 class="text-center mt-2">Edit</h6>
                        </button>
                        <button style="width:85%; display: block; background: rgb(87,0,0); background: linear-gradient(90deg, rgba(87,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(87,0,0,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                            <h6 class="text-center mt-2">Delete</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom">Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img  class="img-fluid rounded-4 " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                      alt="pizza"
                >
                <div class="justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width:85%; display: block; background: rgb(54,107,49); background: linear-gradient(90deg, rgba(54,107,49,1) 0%, rgba(161,237,146,1) 50%, rgba(54,107,49,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                        <button style="width:85%; display: block; background: rgb(0,87,61); background: linear-gradient(90deg, rgba(0,87,61,1) 0%, rgba(29,240,253,1) 50%, rgba(0,87,61,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                            <h6 class="text-center mt-2">Edit</h6>
                        </button>
                        <button style="width:85%; display: block; background: rgb(87,0,0); background: linear-gradient(90deg, rgba(87,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(87,0,0,1) 100%);" class="text-center mt-1 mx-auto border-dark rounded-2">
                            <h6 class="text-center mt-2">Delete</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col pb-2 ms-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
            <div class="col pb-2 ms-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
        </div>
    </div>
    <h1>Community Surveys</h1>
    <div id="survey_feed_community_list">
        <div class="row ms-2 me-2">
            <div class="col pb-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
            <div class="col pb-2 ms-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
            <div class="col pb-2 ms-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
            <div class="col pb-2 ms-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
            <div class="col pb-2 ms-2" style="background-color: #dddddd;">
                <h3>Favorite Foods</h3>
                <p>A survey to figure out what peoples favorite food is!</p>
                <img class="img-fluid" src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                     alt="pizza"
                >
                <button style="display: block">Start</button>
            </div>
        </div>
    </div>
</body>
</html>