<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
    <!-- Navigation Bar -->
    <script src="../scripts/navigation.js" type="application/javascript"></script>
    <script>getAuthStatus();</script>
    <!-- DIV used to present dynamic content -->
    <h2 id="survey_title" class="text-center mb-2">Survey Title</h2>
    <div id="interactive_survey_div">
        <div class="container px-5">
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">Question ######</div>
                                <p> Bridgekeeper: What... is your quest?
                                    King Arthur: To seek the Holy Grail.
                                    Bridgekeeper: What... is the air-speed velocity of an unladen swallow?
                                    King Arthur: What do you mean? An African or a European swallow? </p>
                            </div>
                        </div>
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-5 ml-lg-4 align-self-center border border-right-0 border-bottom-0 border-top-0" id="multiple_choice_div">
                            <div class="col">
                                <div class="h2 fw-bolder border-bottom" style="width: 50%">Multiple Choice:</div>
                                <div class="row-cols-1">
                                    <label for="radio1">A: European</label>
                                </div>
                                <input id="radio1" name="question1" type="radio" value="test1"/>
                                <div class="row-cols-1">
                                    <label for="radio2">B: African</label>
                                </div>
                                <input id="radio2" name="question1" type="radio" value="test1"/>
                                <div class="row-cols-1">
                                    <label for="radio3">C: I dunno</label>
                                </div>
                                <input id="radio3" name="question1" type="radio" value="test1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="drag_and_drop_div">
            <div>
                <!-- DRAG AND DROP ELEMENTS-->
                <div id="drag_and_drop_possible_answers_div">
                    Possible Answers
                    <div style="max-width: 50px; min-height: 30px; background-color: darkgreen">Yes</div>
                    <div style="max-width: 50px; min-height: 30px; background-color: yellow">Maybe</div>
                    <div style="max-width: 50px; min-height: 30px; background-color: darkred">No</div>
                </div>
                <div id="drag_and_drop_selected_answers_div" style="min-height: 100px; min-width: 100px">
                    Drag Into Here
                </div>
            </div>
        </div>
        <div class="container px-5">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="h2 fw-bolder">Question ######</div>
                                <p> What would you rate your overall mood on an average day? </p>
                            </div>
                        </div>
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-5 ml-lg-4 align-self-center border border-right-0 border-bottom-0 border-top-0" id="slider_div">
                            <div id="">
                                <div>
                                    <!-- SLIDER ELEMENTS-->
                                    <div class="h2 fw-bolder border-bottom" style="width: 50%">Slider :</div>
                                    <label for="slider_input"></label>
                                    <input style="width: 85% " id="slider_input" type="range" min="1" max="10"/>
                                </div>
                                <div style="width: 85%;" class="row">
                                    <p style="width: 11%;" class="ms-2">1</p>
                                    <p style="width: 11%;">2</p>
                                    <p style="width: 11%;">3</p>
                                    <p style="width: 10%;">4</p>
                                    <p style="width: 10%;">5</p>
                                    <p style="width: 11%;">6</p>
                                    <p style="width: 11%;">7</p>
                                    <p style="width: 10%;">8</p>
                                    <p style="width: 10%;">9</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel_div">
            <div>
                <!-- CAROUSEL ELEMENTS-->
            </div>
        </div>
        <div id="rank_div">
            <div>
                <!-- RANK ELEMENTS-->
            </div>
        </div>
        <div id="interactive_survey_button_div" style="width: 100%;">
            <button id="interactive_survey_prev_question_button">
                Prev
            </button>
            <button id="interactive_survey_next_question_button">
                Next
            </button>
        </div>
    </div>
</body>
</html>