<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Creator</title>
    <!-- Socket.io -->
    <script src="../../../node_modules/socket.io/client-dist/socket.io.js"
            type="application/javascript"></script>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
            integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
            crossorigin="anonymous"></script>
    <!-- our scripts -->
    <script src="../shared/util/client_server_auth_util.js"></script>
    <script src="../shared/model/user.js"></script>
    <!-- Client Connection -->
    <script src="../scripts/client.js" type="application/javascript"></script>

    <script src="../scripts/survey_creator.js" type="application/javascript" defer></script>
</head>
<body>
    <!-- Navigation Bar -->
    <script src="../scripts/navigation.js" type="application/javascript"></script>
    <h1>Create New Survey</h1>
    <div class="ms-3">
        <p>
            <label for="survey_creator_title_input">Title</label>
        </p>
        <p>
            <input id="survey_creator_title_input"/>
        </p>
        <p>
            <label for="survey_creator_description_input">Description</label>
        </p>
        <p>
            <textarea id="survey_creator_description_input"></textarea>
        </p>
        <p>
            <label for="survey_creator_image_input">Survey Image</label>
        </p>
        <p>
            <input id="survey_creator_image_input" type="file" alt="none"/>
        </p>
        <h2>Add Questions</h2>
        <div id="survey_creator_questions_div">

        </div>
        <p>
            <button class="mt-3" onclick="addMultipleChoiceQuestionPrompt()">Multiple Choice Question +</button>
            <button class="mt-3" onclick="addSliderQuestionPrompt()">Slider Question +</button>
        </p>
        <p>
            <label for="survey_creator_submit">Publish Survey</label>
        </p>
        <p>
            <input id="survey_creator_submit" type="submit" value="Create"/>
        </p>
    </div>
</body>
</html>