<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Feed</title>
</head>
<body>
    <!-- Navigation Bar -->
    <script src="../scripts/navigation.js" type="application/javascript"></script>
    <script>noAuthNavigationBar()</script>
    <h1 class="text-center ">Community Surveys</h1>
    <div style="height: 2px" class="border-bottom border-primary mb-2"></div>
    <div id="survey_feed_popular_list">
        <div class="row ms-2 ms-2">
            <div class="card container border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom row justify-content-center">Favorite Foods</h3>
                <p class="row justify-content-center text-center">A survey to figure out what peoples favorite food is!</p>
                <div class="row">
                    <img  class=" rounded-4 row mx-auto " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                          alt="pizza">
                </div>
                <div class=" row justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width: 100%;" class=" bg-color-grayer text-center mt-1 mx-auto border-primary rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card container border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom row justify-content-center">Favorite Foods</h3>
                <p class="row justify-content-center text-center">A survey to figure out what peoples favorite food is!</p>
                <div class="row">
                    <img  class=" rounded-4 row mx-auto " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                          alt="pizza">
                </div>
                <div class=" row justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width: 100%;" class=" bg-color-grayer text-center mt-1 mx-auto border-primary rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card container border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom row justify-content-center">Favorite Foods</h3>
                <p class="row justify-content-center text-center">A survey to figure out what peoples favorite food is!</p>
                <div class="row">
                    <img  class=" rounded-4 row mx-auto " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                          alt="pizza">
                </div>
                <div class=" row justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width: 100%;" class=" bg-color-grayer text-center mt-1 mx-auto border-primary rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card container border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom row justify-content-center">Favorite Foods</h3>
                <p class="row justify-content-center text-center">A survey to figure out what peoples favorite food is!</p>
                <div class="row">
                    <img  class=" rounded-4 row mx-auto " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                          alt="pizza">
                </div>
                <div class=" row justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width: 100%;" class=" bg-color-grayer text-center mt-1 mx-auto border-primary rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card container border-primary col pb-2 ms-2"  style="background: rgb(230,230,230); background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 22%, rgba(247,247,247,1) 39%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);">
                <h3 class="border-bottom row justify-content-center">Favorite Foods</h3>
                <p class="row justify-content-center text-center">A survey to figure out what peoples favorite food is!</p>
                <div class="row">
                    <img  class=" rounded-4 row mx-auto " src="https://b.rgbimg.com/users/f/fi/fishmonk/600/mnfgJfs.jpg"
                          alt="pizza">
                </div>
                <div class=" row justify-content-center align-content-center text-center align-items-center ">
                    <div style="width: 66%; " class="mx-auto pb-2 pt-2 rounded-pill">
                        <button style="width: 100%;" class=" bg-color-grayer text-center mt-1 mx-auto border-primary rounded-2">
                            <h6 class="text-center mt-2">Start</h6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>